html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  overflow: auto;
}
.container {
  width: calc(100% - 360px);
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3b6080;
}
::-webkit-scrollbar-track {
  background-color: #213342;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header__img {
  object-fit: cover;
  border-radius: 15px;
  width: 292.5px;
  height: 45px;
}
input[type="search"] {
  border: none;
  outline: 0;
  background-color: transparent;
  color: #769fc6;
  width: 100%;
}
.header__form {
  margin-right: 150px;
}
.header__form--serch {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 30px;
  width: 442px;
  height: 34px;
}

.fa-magnifying-glass,
.fa-bars {
  padding: 9px 10.8px;
  color: #cccccc;
}
.fa-bars {
  font-size: 2.5rem;
}

.container__header--bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #ccc;
}

.header__notification i {
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: #2b2b2b !important;
  border: 1px solid rgb(84 59 59 / 8%) !important;
  padding: 10px 15px;
  border: 0.8px solid rgba(84, 59, 59, 0.08);
  cursor: pointer;
}

.header__p {
  text-align: center;
  color: #ccc;
  font-size: 1.4rem;
  padding-top: 5px;
  padding-bottom: 15px;
}
.header__p--link {
  color: rgb(255, 165, 0);
  text-decoration: none;
}

/* Nav */
.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #1f2021;
}
.nav__ul {
  display: flex;
  color: #d0d0d0;
  font-size: 1.4rem;
}

.nav__ul--li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 15px 13px;
  background-color: #1f2021;
  border-left: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.nav__ul--no-boder {
  border: none;
}
.nav__ul--li a {
  color: #d0d0d0;
}

.fa-sort-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}

.nav__ul--li:hover {
  color: #fff;
  background-color: #2b2b2b;
}
.navMain {
  margin-top: 4px;
  box-shadow: 1px 1px 9px #b59620;
  text-shadow: 0.1px 0.1px 2px #c7aa20;
}
.navMain__p {
  font-size: 1.4rem;
  color: #b59620;
  padding: 10px;
}

.navMain__p--span {
  font-weight: 600;
  text-shadow: 1px 0.8px 6px #c7aa20;
}

/* Main */
.list-films {
  background-color: #1f2021;
  padding-top: 20px;
  margin-top: 5px;
}
.child-container {
  width: calc(100% - 32px);
  margin: 0 auto;
}

.days__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.days__ul--li {
  padding: 10px 42px;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
}
.days__ul--li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 7px;
  color: #fff;
}
.days__ul--li a span {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.days__ul--li a span ~ span {
  font-size: 1.4rem;
  font-weight: normal;
}
.days__ul--li-bgc {
  background-image: linear-gradient(to top left, #01a1d7, #065068);
}
.days__ul--li:hover {
  background-image: linear-gradient(to top left, #01a1d7, #065068);
}

.child-Container__span--title {
  display: block;
  width: max-content;
  font-size: 15px;
  padding: 25px 0 10px;
  background: linear-gradient(to right, #ff8a00, #ff2070);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border-bottom: 1px solid #ff8a00;
}

/* Film items*/
.poster {
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.item__img {
  width: 220px;
  height: 260px;
  border-radius: 5px;
  object-fit: cover;
  transition: 0.25s;
}
.row .item {
  border-radius: 5px;
}
.item__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 22px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #c02425 0%,
    #f0cb35 51%,
    #c02425 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}
.item:hover .item__part {
  transition: 0.7s;
  background-image: linear-gradient(
    to left,
    #c02425 0%,
    #f0cb35 80%,
    #c37f7f 100%
  );
}
.item:hover .item__img {
  transform: scale(1.1);
}
.item__desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  width: max-content;
  position: absolute;
  left: 10px;
  bottom: 8px;
  font-size: 1.4rem;
}
.item__desc span ~ span {
  font-size: 1.3rem;
  color: #748391;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}

.page .button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.page .button:hover {
  background-color: #bf7d18;
}

.page .button-1 {
  background-color: #bf7d18;
}

/* Footer */
.footer-logo {
  padding: 50px 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  width: 380px;
  height: 75px;
  border-bottom: 1px solid gray;
}
.footer-logo img {
  width: 180px;
}
.fa-facebook {
  color: white;
}

.infor {
  padding: 30px 0 15px;
}
.infor span {
  font-size: 1.4rem;
  color: grey;
}
